In [1]:
from pathlib import Path
import numpy as np
import pandas as pd
import duckdb
import polars as pl

In [2]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [3]:
source_fol = Path('parsed_files')
reviews_fol = Path(source_fol, 'reviews')
meta_fol = Path(source_fol, 'meta')

In [4]:
all_files = set(Path.rglob(source_fol, '*.parquet'))
meta_files = set(Path.rglob(source_fol, 'meta*.parquet'))
review_files = all_files.difference(meta_files)

In [5]:
reviews = pd.read_parquet('data/reviews.parquet')

In [6]:
reviews

,user_id,item_id,review_timestamp,rating,helpful_vote,verified_purchase
0,8830,706,2021-03-07 22:54:40.309,5.0,1,True
1,4855,701,2014-04-25 01:09:05.000,2.0,0,True
2,4856,684,2015-09-30 20:48:15.000,3.0,0,True
3,6922,674,2019-01-18 01:30:39.133,1.0,4,True
4,10976,705,2016-03-25 04:07:29.000,5.0,0,True
...,...,...,...,...,...,...
18715,19847,1006,2018-10-13 01:58:58.179,2.0,0,True
18716,21165,230,2020-07-01 12:56:18.988,5.0,0,True
18717,9385,1460,2021-04-30 12:43:25.299,5.0,0,True
18718,13482,1440,2017-03-22 00:05:45.000,1.0,0,True
18719,19580,1588,2023-01-01 21:09:45.383,5.0,0,False

In [5]:
items = pd.read_parquet('data/items.parquet')
items

,item_id,parent_asin,title,image
0,1,B0178HXHDO,Wedding/Bridal Wildflower Seed Packet Favors(w...,https://m.media-amazon.com/images/I/31XVY4bCDB...
1,2,B07D1B8HZZ,"Boston Terrier Cupcake Toppers, set of 6 diffe...",https://m.media-amazon.com/images/I/51jmt55D8d...
2,3,B073R96J3H,8x10 UNFRAMED For Those We Have Loved and Lost...,https://m.media-amazon.com/images/I/51DxklTuIB...
3,4,B01AHH17HU,"Fluffy Black Cat Face Art Print, Big Eye Pop S...",https://m.media-amazon.com/images/I/510NUTbER+...
4,5,B07ZDNPRCJ,Aquamarine Necklace Sterling Silver 18 Inch Ch...,https://m.media-amazon.com/images/I/216sKgxDuq...
...,...,...,...,...
1602,1603,B088C12NQN,DTG Printer T-Shirt Printing Machine A4 Size D...,https://m.media-amazon.com/images/I/41D+1klykQ...
1603,1604,B078W64N1L,MonkeyJack 16 Way Balanced HD Digital 5-2400 M...,https://m.media-amazon.com/images/I/41A+sJZSfk...
1604,1605,B07ZJVX289,"Backflow Preventer Test Kit,3 Valves",https://m.media-amazon.com/images/I/41KZ+kSRUq...
1605,1606,B00CLDMEN0,LabelValue.com | Caution - Veterinary Label / ...,https://m.media-amazon.com/images/I/31QoUnFlY2...
1606,1607,B00ERGQ0J8,6 Inch LCD Digital Caliper with Extra Battery ...,https://m.media-amazon.com/images/I/41SzsdFiIF...

In [8]:
reviews

,user_id,item_id,review_timestamp,rating,helpful_vote,verified_purchase
0,8830,706,2021-03-07 22:54:40.309,5.0,1,True
1,4855,701,2014-04-25 01:09:05.000,2.0,0,True
2,4856,684,2015-09-30 20:48:15.000,3.0,0,True
3,6922,674,2019-01-18 01:30:39.133,1.0,4,True
4,10976,705,2016-03-25 04:07:29.000,5.0,0,True
...,...,...,...,...,...,...
18715,19847,1006,2018-10-13 01:58:58.179,2.0,0,True
18716,21165,230,2020-07-01 12:56:18.988,5.0,0,True
18717,9385,1460,2021-04-30 12:43:25.299,5.0,0,True
18718,13482,1440,2017-03-22 00:05:45.000,1.0,0,True
18719,19580,1588,2023-01-01 21:09:45.383,5.0,0,False

In [48]:
items_info = pd.read_parquet('data/items_info.parquet')
items_info

      item_id  category_id  store_id  price  has_image  has_video
0         671         3073    2236.0   0.00          1          1
1         672         3073    1671.0   1.29          1          1
2         673         3073    2581.0   0.00          1          1
3         674         3073    1672.0   0.00          1          1
4         675         3078    2405.0    NaN          1          0
...       ...          ...       ...    ...        ...        ...
1602     1452         3059    1816.0  15.49          1          1
1603     1541         3059    1925.0  18.79          1          0
1604     1549         3059    2825.0  14.76          1          1
1605     1470         3079    2286.0    NaN          1          0
1606     1567         3059    1816.0  14.49          1          0

[1607 rows x 6 columns]

In [10]:
reviews_data = reviews.merge(items_info, how='left', on='item_id').merge(categories, how='left', on='category_id')

NameError: name 'categories' is not defined

In [11]:
reviews_data

NameError: name 'reviews_data' is not defined

In [29]:
reviews_data.to_parquet(
    'data/reviews_data.parquet',
    engine='pyarrow',
    compression='snappy'
)

In [49]:
categories = pd.read_parquet('data/categories.parquet')
categories

    category_id                   category
0          3072     Magazine Subscriptions
1          3073       Appstore for Android
2          3074   Tools & Home Improvement
3          3075  Cell Phones & Accessories
4          3076               Toys & Games
5          3077                  Computers
6          3065                       Baby
7          3066      Arts, Crafts & Sewing
8          3067          Collectible Coins
9          3063        Sports Collectibles
10         3064              Entertainment
11         3068             AMAZON FASHION
12         3069    Collectibles & Fine Art
13         3070                    Grocery
14         3071       Home Audio & Theater
15         3059    Industrial & Scientific
16         3060        Musical Instruments
17         3061                 Automotive
18         3062                 Appliances
19         3078                   Software
20         3079                Amazon Home
21         3080            All Electronics
22         3081                      Books
23         3082                   Handmade
24         3083                 All Beauty
25         3084     Health & Personal Care
26         3085          Sports & Outdoors
27         3086             Camera & Photo
28         3087            Office Products
29         3088               Pet Supplies

In [21]:
date_threshold = pd.to_datetime('2020-01-31') + pd.Timedelta(days = 1)
date_threshold

Timestamp('2020-02-01 00:00:00')

In [31]:
reviews_data

,user_id,item_id,review_timestamp,rating,helpful_vote,verified_purchase,category_id,store_id,price,has_image,has_video,category
0,8830,706,2021-03-07 22:54:40.309,5.0,1,True,3073,2770.0,0.00,1,1,Appstore for Android
1,4855,701,2014-04-25 01:09:05.000,2.0,0,True,3073,2949.0,0.00,1,1,Appstore for Android
2,4856,684,2015-09-30 20:48:15.000,3.0,0,True,3073,2408.0,0.00,1,1,Appstore for Android
3,6922,674,2019-01-18 01:30:39.133,1.0,4,True,3073,1672.0,0.00,1,1,Appstore for Android
4,10976,705,2016-03-25 04:07:29.000,5.0,0,True,3073,2950.0,0.00,1,1,Appstore for Android
...,...,...,...,...,...,...,...,...,...,...,...,...
18715,19847,1006,2018-10-13 01:58:58.179,2.0,0,True,3079,1655.0,11.99,1,1,Amazon Home
18716,21165,230,2020-07-01 12:56:18.988,5.0,0,True,3065,1648.0,20.97,1,1,Baby
18717,9385,1460,2021-04-30 12:43:25.299,5.0,0,True,3074,1727.0,9.49,1,1,Tools & Home Improvement
18718,13482,1440,2017-03-22 00:05:45.000,1.0,0,True,3084,2087.0,52.95,1,1,Health & Personal Care
18719,19580,1588,2023-01-01 21:09:45.383,5.0,0,False,3059,2297.0,52.99,1,0,Industrial & Scientific

In [30]:
reviews_data.query(f"review_timestamp<'{date_threshold}' and category_id == 3066")['user_id']

460      17186
463       9482
464      11544
467       3359
469       3360
         ...
18603     5888
18605    11981
18609     5895
18694    10891
18713    18539
Name: user_id, Length: 1088, dtype: int64

In [15]:
reviews_data['user_id'].unique().tolist()

[8830,
 4855,
 4856,
 6922,
 10976,
 4857,
 10977,
 8831,
 4858,
 14999,
 15000,
 19910,
 8832,
 4859,
 8834,
 4860,
 10978,
 15001,
 4861,
 4862,
 4863,
 15002,
 10980,
 10981,
 8837,
 13001,
 10982,
 18622,
 18623,
 8838,
 4864,
 4865,
 10983,
 13002,
 15003,
 8839,
 8841,
 15004,
 19913,
 6925,
 10984,
 6926,
 13003,
 8842,
 19914,
 6928,
 4435,
 14567,
 8467,
 14569,
 12615,
 4436,
 8468,
 18226,
 4437,
 8469,
 6497,
 18227,
 12616,
 6498,
 12617,
 6499,
 4438,
 19247,
 8470,
 12618,
 12620,
 19248,
 19249,
 6500,
 8471,
 19251,
 14573,
 6503,
 12622,
 6504,
 10547,
 14574,
 10548,
 19252,
 14575,
 12623,
 14576,
 10549,
 8472,
 6507,
 6508,
 10550,
 4440,
 4441,
 14579,
 6511,
 14580,
 18234,
 10551,
 6513,
 8475,
 10552,
 12624,
 8476,
 18235,
 5524,
 9600,
 7548,
 11624,
 5525,
 11625,
 5526,
 11626,
 9601,
 16073,
 5527,
 16075,
 17296,
 7549,
 9602,
 9603,
 11628,
 16076,
 11630,
 13668,
 5528,
 13669,
 3479,
 9604,
 13670,
 3480,
 13671,
 3481,
 5529,
 9605,
 16077,
 16078,
 5530,
 17297,
 16079,
 3482,
 5532,
 3483,
 7550,
 9606,
 11632,
 16080,
 16081,
 5533,
 5534,
 3484,
 17298,
 11633,
 7551,
 3485,
 17300,
 11635,
 3486,
 17301,
 3487,
 13672,
 11636,
 9607,
 3488,
 5535,
 3489,
 3490,
 5536,
 13673,
 11638,
 9430,
 9431,
 9432,
 9433,
 17129,
 11484,
 7383,
 5355,
 17130,
 9434,
 5356,
 3306,
 17131,
 11485,
 15911,
 7384,
 11486,
 3307,
 9436,
 3308,
 7385,
 5358,
 13517,
 5359,
 3309,
 9438,
 15912,
 17133,
 7387,
 5360,
 5361,
 13519,
 15913,
 13520,
 7388,
 17135,
 7389,
 7390,
 5362,
 7391,
 11489,
 5363,
 17136,
 5364,
 3310,
 17137,
 7392,
 13522,
 17138,
 15917,
 15918,
 11492,
 5365,
 6960,
 4901,
 18661,
 11026,
 8880,
 19950,
 18662,
 4902,
 19951,
 19952,
 11027,
 4903,
 18664,
 6961,
 15041,
 8881,
 8882,
 8883,
 15042,
 13049,
 11030,
 4904,
 18665,
 13050,
 15043,
 4905,
 19954,
 8884,
 19955,
 13051,
 8885,
 4906,
 18666,
 4907,
 4908,
 4909,
 19956,
 4910,
 19957,
 13052,
 18667,
 18668,
 6962,
 6963,
 6964,
 4911,
 6965,
 18670,
 15046,
 4912,
 11033,
 8886,
 8887,
 6966,
 4913,
 13053,
 11034,
 15047,
 19958,
 4914,
 8888,
 6967,
 13054,
 8889,
 6968,
 15048,
 13055,
 8890,
 11035,
 4915,
 13056,
 13057,
 6969,
 4916,
 11036,
 13058,
 19959,
 8891,
 13059,
 18672,
 11037,
 4917,
 8893,
 8894,
 13060,
 6970,
 19962,
 11038,
 11039,
 6971,
 19963,
 19964,
 18675,
 11042,
 4919,
 8895,
 19965,
 4920,
 4921,
 13061,
 19966,
 4922,
 19967,
 13062,
 6973,
 4923,
 15053,
 4924,
 13063,
 4925,
 18678,
 19968,
 6974,
 13064,
 11043,
 11044,
 11045,
 18679,
 6975,
 6976,
 15054,
 19969,
 13065,
 11046,
 13066,
 13067,
 11047,
 15055,
 15056,
 13068,
 4926,
 13069,
 13070,
 18681,
 6977,
 8897,
 13071,
 4927,
 18682,
 15058,
 19970,
 19971,
 13072,
 18684,
 8898,
 11049,
 11050,
 11051,
 18685,
 11052,
 11053,
 19972,
 18686,
 4928,
 11054,
 18687,
 13074,
 6979,
 18688,
 4929,
 19974,
 19975,
 13075,
 6982,
 18689,
 15061,
 11057,
 4932,
 11058,
 13077,
 4933,
 13078,
 18692,
 6985,
 6986,
 15063,
 18693,
 8900,
 4935,
 4936,
 19980,
 11059,
 13081,
 6989,
 4937,
 13082,
 6990,
 19981,
 18695,
 6992,
 15065,
 18696,
 4940,
 8903,
 13084,
 19984,
 4941,
 13085,
 15068,
 11063,
 6994,
 18698,
 11064,
 13087,
 19985,
 11065,
 6996,
 15069,
 15070,
 13088,
 18701,
 15071,
 18703,
 18704,
 8904,
 15072,
 11066,
 15074,
 18706,
 8905,
 15076,
 15077,
 8907,
 4949,
 13090,
 19988,
 11068,
 4951,
 4952,
 6998,
 18707,
 18708,
 8908,
 19990,
 8909,
 13091,
 4955,
 17186,
 7441,
 15959,
 9482,
 11544,
 3357,
 3358,
 3359,
 17187,
 3360,
 7442,
 3361,
 7443,
 7444,
 11545,
 9484,
 7445,
 9485,
 5422,
 9486,
 3362,
 13571,
 17189,
 17190,
 17191,
 13572,
 9487,
 5423,
 13573,
 9488,
 15960,
 11546,
 3363,
 5424,
 5425,
 5426,
 15961,
 7447,
 3364,
 3365,
 11548,
 7448,
 3366,
 7449,
 17195,
 3367,
 9490,
 17196,
 13574,
 5428,
 7450,
 7451,
 13576,
 13577,
 17197,
 17198,
 9491,
 3368,
 3369,
 5429,
 15962,
 3370,
 17199,
 3371,
 13578,
 15963,
 15964,
 5430,
 9492,
 9493,
 17200,
 5431,
 15965,
 5432,
 17201,
 15966,
 9494,
 15968,
 15969,
 11550,
 9495,
 3372,
 13579,
 9496,
 17203,
 7452,
 9497,
 3373,
 3374,
 7453,
 9498,
 11551,
 17204,
 15971,
 15972,
 9500,
 15973,
 15974,
 13580,
 5433,
 9501,
 7455,
 15975,
 7456,
 17206,
 13582,
 3375,
 13583,
 14701,
 6621,
 10667,
 18334,
 19639,
 19640,
 6622,
 14702,
 4550,
 10668,
 18335,
 14703,
 8571,
 14704,
 10669,
 8572,
 14705,
 8573,
 8574,
 4553,
 4554,
 4556,
 12731,
 4557,
 18336,
 14706,
 12732,
 14707,
 10670,
 6624,
 4558,
 12734,
 8576,
 8577,
 6625,
 8578,
 10671,
 14712,
 19641,
 14713,
 10672,
 4559,
 19642,
 10673,
 19643,
 4560,
 10674,
 18337,
 14714,
 8579,
 4561,
 18338,
 8580,
 4562,
 12735,
 12736,
 10676,
 12737,
 14716,
 14717,
 18340,
 8582,
 6627,
 6628,
 8583,
 4563,
 10678,
 10679,
 12738,
 18341,
 19646,
 19647,
 12739,
 4564,
 12740,
 10680,
 6629,
 6630,
 19648,
 14718,
 10681,
 14719,
 19649,
 14720,
 14721,
 6631,
 18343,
 12742,
 4565,
 6632,
 18344,
 19650,
 4566,
 12743,
 18345,
 12744,
 19651,
 19652,
 14722,
 10682,
 18346,
 12745,
 6633,
 14723,
 10683,
 6634,
 8584,
 4567,
 8585,
 19654,
 8586,
 19655,
 19656,
 10684,
 10685,
 6635,
 6636,
 12746,
 18347,
 14724,
 6637,
 10686,
 19657,
 4568,
 19658,
 12747,
 4569,
 10687,
 3606,
 13783,
 17415,
 5652,
 9697,
 11747,
 5653,
 16185,
 16186,
 3607,
 13784,
 5654,
 7661,
 13785,
 13786,
 7662,
 7663,
 5655,
 13787,
 5656,
 11749,
 7664,
 3608,
 7665,
 3609,
 16187,
 16188,
 5657,
 16189,
 9698,
 16190,
 7666,
 16191,
 3610,
 16193,
 3611,
 5658,
 16194,
 5659,
 9699,
 17416,
 5660,
 11750,
 9700,
 3613,
 5661,
 3614,
 17417,
 5662,
 7667,
 17418,
 16195,
 13789,
 7668,
 5663,
 3616,
 7669,
 7670,
 17420,
 3617,
 5664,
 11751,
 3618,
 3619,
 17421,
 11752,
 3620,
 5666,
 17423,
 17424,
 5667,
 7671,
 3621,
 16196,
 9702,
 17426,
 16198,
 7672,
 3622,
 16199,
 13791,
 7673,
 9703,
 11753,
 5668,
 17427,
 17428,
 5669,
 9705,
 11754,
 11755,
 9707,
 5670,
 5671,
 3623,
 3624,
 3625,
 9708,
 11756,
 7674,
 9709,
 13792,
 17430,
 15444,
 19364,
 20986,
 20489,
 20987,
 21231,
 15337,
 13322,
 20490,
 15446,
 19365,
 19366,
 9164,
 13323,
 20491,
 15339,
 9165,
 9167,
 21233,
 20494,
 21234,
 20989,
 21235,
 20990,
 9168,
 20496,
 15340,
 19368,
 15447,
 21237,
 15341,
 13326,
 20497,
 15448,
 19370,
 20498,
 19371,
 13328,
 21240,
 20752,
 15342,
 15449,
 9170,
 21241,
 15450,
 19372,
 19373,
 20753,
 19374,
 19375,
 15451,
 15452,
 21243,
 15345,
 15454,
 9171,
 15455,
 15456,
 15346,
 15348,
 20501,
 19379,
 15350,
 15351,
 20996,
 19380,
 15457,
 15458,
 15352,
 7500,
 5493,
 3427,
 11584,
 16024,
 13624,
 13625,
 7501,
 7502,
 7503,
 7504,
 7505,
 7506,
 3428,
 7508,
 5494,
 11585,
 9561,
 7509,
 3429,
 11586,
 11587,
 7510,
 7511,
 16029,
 9567,
 9568,
 5495,
 11588,
 16031,
 17257,
 3430,
 16032,
 11589,
 7513,
 7514,
 16033,
 11590,
 5497,
 7515,
 17259,
 13629,
 17260,
 17262,
 3431,
 13630,
 17263,
 3432,
 3433,
 7516,
 3434,
 16035,
 5498,
 11591,
 13631,
 7518,
 7519,
 3435,
 3436,
 5499,
 13632,
 11592,
 3437,
 13634,
 13635,
 9187,
 15473,
 20773,
 19392,
 20774,
 21259,
 15365,
 15366,
 21009,
 19393,
 15474,
 19394,
 20775,
 15475,
 20516,
 15476,
 21261,
 21262,
 9189,
 20517,
 15478,
 21263,
 15479,
 15367,
 15368,
 15369,
 15480,
 20519,
 19395,
 15481,
 15482,
 20520,
 20521,
 21264,
 20522,
 15370,
 15483,
 20779,
 20780,
 19396,
 20781,
 15371,
 15373,
 15484,
 9190,
 20523,
 21265,
 21015,
 9191,
 20783,
 21266,
 20784,
 9192,
 9193,
 21016,
 19399,
 20785,
 15486,
 15375,
 21268,
 15487,
 15376,
 9194,
 21018,
 20222,
 15488,
 20786,
 19400,
 20223,
 9196,
 9197,
 ...]

In [37]:
rev = pd.read_parquet('data/reviews.parquet')

In [53]:
rev

,user_id,item_id,review_timestamp,rating,helpful_vote,verified_purchase
0,8830,706,2021-03-07 22:54:40.309,5.0,1,True
1,4855,701,2014-04-25 01:09:05.000,2.0,0,True
2,4856,684,2015-09-30 20:48:15.000,3.0,0,True
3,6922,674,2019-01-18 01:30:39.133,1.0,4,True
4,10976,705,2016-03-25 04:07:29.000,5.0,0,True
...,...,...,...,...,...,...
18715,19847,1006,2018-10-13 01:58:58.179,2.0,0,True
18716,21165,230,2020-07-01 12:56:18.988,5.0,0,True
18717,9385,1460,2021-04-30 12:43:25.299,5.0,0,True
18718,13482,1440,2017-03-22 00:05:45.000,1.0,0,True
18719,19580,1588,2023-01-01 21:09:45.383,5.0,0,False

In [43]:
rev.groupby('user_id', as_index=False)['item_id'].nunique().sort_values(by='item_id', ascending=False)

      user_id  item_id
2520     5609        2
6934    10023        2
2060     5149        2
6389     9478        2
2080     5169        2
...       ...      ...
16       3105        1
17       3106        1
18       3107        1
19       3108        1
4        3093        1

[18389 rows x 2 columns]

In [46]:
rev.query("user_id == 5149")

,user_id,item_id,review_timestamp,rating,helpful_vote,verified_purchase
6342,5149,852,2020-02-18 17:11:15.848,5.0,1,False
10322,5149,1441,2021-10-02 15:16:01.645,5.0,0,False

In [50]:
items_info.query("item_id == 852")

     item_id  category_id  store_id  price  has_image  has_video
765      852         3070    1832.0    NaN          1          1

In [51]:
categories.query("category_id == 3070")

    category_id category
13         3070  Grocery

In [54]:
ratings = rev.pivot_table(index='user_id', columns='item_id', values='rating', aggfunc='mean')

In [55]:
from scipy.sparse.linalg import svds

In [67]:
ratings.fillna(0)

item_id,1,2,3,4,5,6,7,8,9,10,...,1598,1599,1600,1601,1602,1603,1604,1605,1606,1607
user_id,,,,,,,,,,,,,,,,,,,,,
3089,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3090,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3091,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3092,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3093,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21473,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
21474,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
21475,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
21476,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
21477,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [72]:
u,sigma, vt = svds(ratings.fillna(0).values)

In [68]:
u, sigma, vt = np.linalg.svd(ratings.fillna(0).values, full_matrices=False)

In [71]:
ratings.shape

(18389, 1607)

In [73]:
u.shape

(18389, 6)

In [2]:
db_file = 'raw.duckdb'
duck = duckdb.connect(db_file)

In [3]:
duck.query("show tables")

┌───────────┐
│   name    │
│  varchar  │
├───────────┤
│ raw_items │
└───────────┘

In [8]:
parents = items['parent_asin'].unique().tolist()
parents

['B0178HXHDO',
 'B07D1B8HZZ',
 'B073R96J3H',
 'B01AHH17HU',
 'B07ZDNPRCJ',
 'B07MD7J87S',
 'B07L9KWXFK',
 'B075LNC8CB',
 'B07FF998YH',
 'B088KX63LF',
 'B085L4W7L1',
 'B01M150D1E',
 'B07BBPHD6G',
 'B01EGA9RQW',
 'B073Q7K94M',
 'B076GCT9S8',
 'B0845VJYMT',
 'B01MQIO994',
 'B09RW73F2R',
 'B09HZ4KDRG',
 'B07S764ZLH',
 'B07BDPTK4Z',
 'B08SMQJRQW',
 'B06ZXY3VRP',
 'B01IOZ8RAC',
 'B07BF3Q5ZG',
 'B07YM4R9FY',
 'B08KNNBG3Z',
 'B09J1ZY9H3',
 'B07X6L67C7',
 'B07L6QR5RX',
 'B01N01OTQ0',
 'B08BTJ3JSK',
 'B06XC893HY',
 'B084RJW3QK',
 'B01IMO8OG2',
 'B081VSL5RD',
 'B07M8TYSM3',
 'B073C6ZGRB',
 'B01HYM1PVE',
 'B01CEZVKL6',
 'B081GKSNC1',
 'B07JKZJP9G',
 'B01JTO2FS2',
 'B093LR57XY',
 'B016UCFT5M',
 'B0CB1PGH9D',
 'B0784YCG27',
 'B019X3EUDC',
 'B07PHLNPJX',
 'B07WR1958F',
 'B084NVBJKS',
 'B077CS8519',
 'B08C2F2P1L',
 'B01NH0SNW7',
 'B01MT89B4U',
 'B01FOZF1CC',
 'B016URWN42',
 'B084WNH593',
 'B01N5U68F8',
 'B07PT31P2B',
 'B07R7LS2C1',
 'B07NMT1MVW',
 'B077C9P1YD',
 'B07B3LLWQ9',
 'B01M4GPSPJ',
 'B0C5C941DW',
 'B07R6FDG36',
 'B07P7JLL3B',
 'B016W5PYQQ',
 'B07RNDTVFD',
 'B07F6ZK5V6',
 'B07JL4KHWM',
 'B07SCK3ZWV',
 'B01F7DLEEA',
 'B084X2KYCB',
 'B01BTO93XK',
 'B016AXSP8O',
 'B09TBHPRFK',
 'B08LZQDHQ9',
 'B097ZMDDTV',
 'B0BTMW7YN7',
 'B071GYW45W',
 'B0085DYNIY',
 'B0034ZGNVI',
 'B08VWQSV43',
 'B076F1C7G8',
 'B000OVPG9U',
 'B07MVNBCZD',
 'B0BKRPDSKB',
 'B089N3Z7WM',
 'B083J3YGMF',
 'B0025VLKSI',
 'B0762M2W2W',
 'B08PKVHY23',
 'B000VKX17S',
 'B07D8583K6',
 'B087F4TMSJ',
 'B00HHCY6DQ',
 'B015Y6RRJ6',
 'B0B3DKJJF7',
 'B071JX1LH1',
 'B08VGZTBKP',
 'B092DMG9F5',
 'B08FQDJ62K',
 'B0032ALYNM',
 'B092MK9N8N',
 'B08KXM2N2Y',
 'B09B1SQBMK',
 'B08GFWGWWZ',
 'B0BB5XL735',
 'B07QPMBBSN',
 'B092DVF9NR',
 'B00DN7Y8NW',
 'B0BX6S8ZW9',
 'B07TP5J4K1',
 'B07KDMZZ4V',
 'B004GGQIVO',
 'B00JPPCGQC',
 'B06X19F2KB',
 'B074HQSZ49',
 'B001HQEPJ8',
 'B08XM2G4SD',
 'B0B2WMV6MX',
 'B08TG8KPPM',
 'B00NIWTTHC',
 'B076DZYZ1Q',
 'B074W7SLV1',
 'B00889S804',
 'B08P3V3WTN',
 'B00ABWGQC8',
 'B088NM5GQR',
 'B0BZ8BB57Q',
 'B09TPX4TVM',
 'B087BL8MW5',
 'B0BHGYJTFF',
 'B084D6R2NC',
 'B0B8H7X65Q',
 'B00NY1T2CY',
 'B09GZXWQSN',
 'B09656RLZF',
 'B01H3ZX7RM',
 'B0BFZLJ3DN',
 'B07JQ1WVSQ',
 'B07K8YN4FS',
 'B01DLOBZZA',
 'B002LZGVRI',
 'B0025U0XC8',
 'B004LVF5PO',
 'B09RZQ4LTL',
 'B00X522G4S',
 'B0915888GL',
 'B00FFFR904',
 'B075H7YDCS',
 'B01BH4ES1Y',
 'B08ZCCZLBF',
 'B07QHCLXBL',
 'B07K1L6SZJ',
 'B095HGWVLP',
 'B00N30XTA2',
 'B00HS4BZ6O',
 'B08XZM1CD3',
 'B00SG94G16',
 'B092D399BD',
 'B08R9WC87S',
 'B086NK1C5Q',
 'B0081S6EL2',
 'B01K5D7I74',
 'B09X33KX92',
 'B08BYWNB6W',
 'B073QK4359',
 'B0072FRCB6',
 'B09SGDR6QG',
 'B082WMCR61',
 'B0B81LR9Q8',
 'B00Y7AJJQK',
 'B08ZDGCQHJ',
 'B0066KT7M0',
 'B001RD35VA',
 'B00FB5SII0',
 'B07CPZNQ4P',
 'B085T8GQVG',
 'B007HDFFLM',
 'B005YOP3L8',
 'B077YHG4XY',
 'B078K34FT5',
 'B08V5LCF12',
 'B07CTB8R14',
 'B003AGSRB0',
 'B001BYD8PI',
 'B00WWGHCTM',
 'B005A3T00I',
 'B0796PZH8D',
 'B07ZZH2WDK',
 'B082H5S61B',
 'B001L1EJTA',
 'B0728433QM',
 'B00FMHFYIO',
 'B01FGB9ILO',
 'B074M53PSL',
 'B07ZZ5ZNWY',
 'B087T8GV7J',
 'B07DPNPN74',
 'B0BMB7LLV5',
 'B01M1LHZU1',
 'B004VISYIC',
 'B075QJSKB6',
 'B08P42N1VM',
 'B00TL69BT0',
 'B0BC97YCPT',
 'B002QUZF9I',
 'B09P61NLKT',
 'B071D625SH',
 'B00IR4F2A4',
 'B0BKT4FTVK',
 'B092ZD7NFN',
 'B004ZI4XTM',
 'B00BI9TOW2',
 'B00NG92PVY',
 'B097BYVJ33',
 'B004TEKQJ8',
 'B01AKZZZ3Q',
 'B07YTSDSK7',
 'B002MO78RK',
 'B01M6C0NDI',
 'B00XN04K96',
 'B00J8ZZJOU',
 'B001G76D66',
 'B073GTXLW3',
 'B0B5HM3DN3',
 'B0749BPSLW',
 'B077JL55PP',
 'B0BHZ7JP18',
 'B09YM5SRW6',
 'B008HCRBJQ',
 'B0046QDV32',
 'B0070O5YQ4',
 'B00BGFWWKE',
 'B086Q415M9',
 'B009VKW0IA',
 'B071R3D3V4',
 'B097P9LWN6',
 'B004FPYFYI',
 'B01J9R3D62',
 'B01JRTQ594',
 'B0002647CY',
 'B01EH2Q1GS',
 'B06XHB1WS6',
 'B07XHNPGGC',
 'B0748MPNH4',
 'B004EPYQMK',
 'B01MYUM9VO',
 'B000HZEQWQ',
 'B0041H69VC',
 'B078HF62RG',
 'B01GHSDXZM',
 'B01EL9QNKG',
 'B08QGD5LDX',
 'B07YBLTFVB',
 'B074MBVCGQ',
 'B08K493PJH',
 'B0045QS84U',
 'B004Y7WU08',
 'B0BD4J65XX',
 'B07J6GLLSS',
 'B01NCN7836',
 'B01ALAEMQG',
 'B07B8ZQPHN',
 'B079483FC9',
 'B07NCMFX3K',
 'B08ZS4PK7Y',
 'B0725N8JJB',
 'B01CU4Y8M4',
 'B073VJJ7X7',
 'B08CXFNKSH',
 'B0B5JNLD9N',
 'B074PF91QY',
 'B08RBJYFMK',
 'B07W4CMBNS',
 'B01N2S5CU0',
 'B09BW1HCQG',
 'B00HLWU9ZQ',
 'B01HJBDM3E',
 'B07L3R6YM2',
 'B01GOOSBMY',
 'B07VCB9LKD',
 'B0112NXCTE',
 'B002CTOHW4',
 'B08TGGZVXN',
 'B09CPLCRTL',
 'B01KM7E844',
 'B00VBA6ZAC',
 'B07C5MTCMH',
 'B07GM22R67',
 'B075VPQ1FM',
 'B00KKO38UU',
 'B07Q9LP681',
 'B07194HKZJ',
 'B081H3HYNJ',
 'B00AZMMBPU',
 'B093151CRH',
 'B07PDK631Q',
 'B07W873SB3',
 'B06XQ1P5MJ',
 'B08XVTGWVB',
 'B07X3STCZ7',
 'B08951SFB9',
 'B07GZHDD6Q',
 'B00DHUGN10',
 'B07FZRB9Q7',
 'B08LD4ZF73',
 'B07YTSXTW7',
 'B08LZ8BT1B',
 'B07QKD13RS',
 'B08YY69RH7',
 'B07VXLWD1F',
 'B07Z66J6BR',
 'B073W79QSQ',
 'B08687PQSS',
 'B016NR7BRS',
 'B07NZ1TN89',
 'B073TTXJ6Y',
 'B0042V4XYW',
 'B01GZQ806S',
 'B07KV4BCW4',
 'B076YZV2DS',
 'B07QXWN69W',
 'B0767KQQ43',
 'B09HPMVYJ1',
 'B096124N2V',
 'B09825Q7GH',
 'B07VWWC9PK',
 'B07YS5N5F3',
 'B08CBHF43N',
 'B00R51KWXW',
 'B092D3CN7S',
 'B09WQQ9PMH',
 'B00J0EJPOO',
 'B0871KV6LY',
 'B00R5OJ0P0',
 'B01GIIEWYC',
 'B01MRJU6K3',
 'B09P8RVQHX',
 'B019GHG2IQ',
 'B0B6RSMFW2',
 'B095YMWGWG',
 'B01LEMQNU8',
 'B01G3QXWZY',
 'B07RQKPMK8',
 'B08NJPZZS7',
 'B075S2TRT7',
 'B08G1J2BFJ',
 'B0112YYA3K',
 'B08MFKTTXP',
 'B00TT3YAC8',
 'B08R5R18VB',
 'B079BKTVQY',
 'B07KWT94HB',
 'B07784Y372',
 'B07RZSY7JZ',
 'B097MRKH4K',
 'B01J1NOWQE',
 'B076M2L7R8',
 'B075LHDTDW',
 'B085VGC4G2',
 'B074KR5K8W',
 'B07JKPXSX1',
 'B07659HLMD',
 'B01GRSTVMQ',
 'B0724Z5PKD',
 'B08VR96NHH',
 'B07WR3PXRZ',
 'B077W44CZ6',
 'B00JIM3DW8',
 'B01JGEQGV2',
 'B00EN7BBGI',
 'B07F285WR6',
 'B00F9E512E',
 'B0C7LX5RRS',
 'B07LB5J3QM',
 'B008OSI8AY',
 'B08Z4JV7VT',
 'B005TY28NE',
 'B014Q39VD8',
 'B00QJDW0QO',
 'B00D8TSVQ0',
 'B00RPWJ64W',
 'B07CT5Y9Y4',
 'B09R4YPP6J',
 'B0196WXDTM',
 'B000EMQFDU',
 'B001M5K2GY',
 'B07D6V75T7',
 'B006R1UWJA',
 'B00BHFBYF2',
 'B0BMV2GRKM',
 'B007OP4UEG',
 'B089S9ZQQP',
 'B074687TNZ',
 'B00OBQQ8F0',
 'B07B9VF3ZB',
 'B09LLBGCNP',
 'B079LB7VZS',
 'B004PJ0AMU',
 'B07C2YPPZY',
 'B00JMQP40O',
 'B001SAULAA',
 'B00ZGT1WB6',
 'B07GFSVHSP',
 'B00JMAF1JO',
 'B08X6GJX1D',
 'B00OTP9SDM',
 'B01B02DIQO',
 'B0B8CN7F37',
 'B004PXQ9WG',
 'B00ADS7G3S',
 'B085Y8KV8C',
 'B07QLV32VQ',
 'B07G65VGK9',
 'B017WG6D3W',
 'B01445DIFU',
 'B00QL7USSK',
 'B07SX8HRX9',
 'B077Y49FMJ',
 'B083JLQCNK',
 'B07N7Z5T18',
 'B07H9GVXRC',
 'B018BHRM1I',
 'B07Z8T1N9C',
 'B074D1X9RL',
 'B0994XW3YD',
 'B08DDKMVR3',
 'B009JPFGHE',
 'B07N8NKRHB',
 'B01B02N2KQ',
 'B0BNW4M7ZJ',
 'B0855QMFSS',
 'B004SESMYU',
 'B00NE6IXTW',
 'B088216X28',
 'B0916MM9LD',
 'B008SC1U24',
 'B07B4M88KG',
 'B09TVJPWXG',
 'B00B04BEUA',
 'B008BIBY7G',
 'B007FSCHCY',
 'B00CAM0H4K',
 'B07H2VPV17',
 'B008BZSXEG',
 'B01E4JP8PE',
 'B0BMKFRQF8',
 'B077RX5VCL',
 'B00J0KR4W8',
 'B071HNXH2L',
 'B001E2TAX6',
 'B004LKBHOS',
 'B09J1L5NYZ',
 'B007MJEAL2',
 'B08KT2Q2XJ',
 'B0B7BM8Y73',
 'B005NDX92K',
 'B07RBBWZ9M',
 'B07DSTPC2Y',
 'B07YLD2GFL',
 'B00RAJ4QGS',
 'B001SB65JA',
 'B08KFH2KW1',
 'B005P0I7DM',
 'B01D8YQYJA',
 'B081W2WSZB',
 'B08K3KVFTM',
 'B01N0B5069',
 'B00PHUQ89K',
 'B07RVCVG6C',
 'B071QXWR8R',
 'B096YLJD5D',
 'B000PDLTGG',
 'B0049EGWMS',
 'B093WJLT7P',
 'B00KPTNGIO',
 'B00CPO5I9C',
 'B0063RMBCE',
 'B09FR6HFSF',
 'B074YKPHMK',
 'B07RZ546GV',
 'B01H2KT83A',
 'B07GPS5F4Z',
 'B00DN6AU30',
 'B00KO6DPK2',
 'B071YXYCXR',
 'B00LTLJYIS',
 'B07FZ83NTR',
 'B0B37ZBHT9',
 'B002HTU818',
 'B00MDNHWD0',
 'B07CS3CBG9',
 'B0013GKCNA',
 'B01M1N75JG',
 'B09VJ25Y8D',
 'B00MN4F3IK',
 'B005EKHXHE',
 'B00B72ZY4C',
 'B06WRPHYDK',
 'B003UMWSYG',
 'B09BN3MQGF',
 'B0BTRV3CPR',
 'B005SGQKLE',
 'B0112OWP00',
 'B07NLBFV9N',
 'B09TST7HHF',
 'B07DWV3YH5',
 'B07DHRPCG7',
 'B0852QYB38',
 'B0BBTH9ZWW',
 'B000RHXI0K',
 'B001R300TU',
 'B0BLV2YTQY',
 'B00CHTWRIU',
 'B07846RD31',
 'B00TZFTCTG',
 'B07Q44X3G5',
 'B09TJ8JDXP',
 'B06XH3YTVW',
 'B07459WYBH',
 'B014RB8B08',
 'B08DKKB3FJ',
 'B0198PWLFO',
 'B00Z7U9VAI',
 'B06XXW75FW',
 'B00NALN81Y',
 'B000FQ723M',
 'B07RTT4FNY',
 'B01AUHYL70',
 'B07DHW6HHT',
 'B06VS7F94W',
 'B00R8525PS',
 'B07CJZYBW8',
 'B07NVJDLG8',
 'B07V8GZC2W',
 'B07QSFJLTL',
 'B08PB51LYT',
 'B013089DHO',
 'B07CQ9SR4R',
 'B01DVB91KE',
 'B017CEXEUE',
 'B07F812ZT2',
 'B08S7BCVGZ',
 'B07DNPWYTD',
 'B07Q29K46B',
 'B087B9M8XG',
 'B076GLTR83',
 'B074CDKTBL',
 'B075WVJ22V',
 'B078B7M2NY',
 'B0013TFXMM',
 'B0827T9MC2',
 'B0BLSHDY9K',
 'B07XBX3LBN',
 'B07CBSSL1J',
 'B08ZNFSJD1',
 'B07X9446VH',
 'B001LUC54C',
 'B00MSB91VS',
 'B0B6PM1CTY',
 'B0881VJP69',
 'B07BPM5XZP',
 'B07JC2SDSW',
 'B093SRRW3F',
 'B075M3YW55',
 'B071V4S488',
 'B07G2ZFDLS',
 'B07D567ZSQ',
 'B01LYPZR2Q',
 'B01B16CH8O',
 'B07GT4VPRQ',
 'B00W1D8K4W',
 'B07B2QPJS4',
 'B098JFDKG3',
 'B08L4PVTDH',
 'B07P6JK95C',
 'B09RSDFX17',
 'B00REN8NDC',
 'B07H9C887R',
 'B071JDJXHS',
 'B08H7RMZJK',
 'B0834PS1J5',
 'B00OPSPPEY',
 'B07BB7NRXL',
 'B017RM5G0C',
 'B08R3WX9KR',
 'B01N21BLJ9',
 'B07R4KMY35',
 'B0718T7SLF',
 'B009HYDFCA',
 'B0768D3HXK',
 'B08KY5K2MP',
 'B07XNXV2QX',
 'B07H3SBGBR',
 'B00WAIJPFG',
 'B07SHV7449',
 'B01NA9IFK8',
 'B015DQR9TA',
 'B08T9PF544',
 'B08H7VZM7M',
 'B085L921VX',
 'B01FSFTCHS',
 'B07MP2GVJV',
 'B08JM238ZF',
 'B01J7OVQC0',
 'B08QH7QQR3',
 'B0925CR68D',
 'B01H3ZI736',
 'B01BIICHXU',
 'B07MZS4KZY',
 'B098QRCY2P',
 'B07SX5ST1K',
 'B0894RC4QN',
 'B0825DHLRY',
 'B0749QZ3T7',
 'B07NZ5KKXF',
 'B074Z6QYWQ',
 'B07RX8JRT5',
 'B09BNT7R9V',
 'B07XG63X3M',
 'B092MC6S91',
 'B07HDZGQSZ',
 'B07C9797YF',
 'B07CSWTD1J',
 'B08GKGG6H2',
 'B01M616XSD',
 'B0160D4434',
 'B08HCRDPFT',
 'B07MC6GKZ9',
 'B09699FQMV',
 'B07DJBM58M',
 'B01CK1AAOM',
 'B00YKLP5JQ',
 'B0153U1B2C',
 'B0B2QL6C35',
 'B07QL4KN5S',
 'B01HB07KXG',
 'B073PX1QK7',
 'B00CVT2QB4',
 'B017KWK9VA',
 'B07WRK6BYY',
 'B077M3L9DB',
 'B08L4BKHKH',
 'B09FXP2944',
 'B0117LU0G4',
 'B081TYMZN7',
 'B07N17W5H7',
 'B0756FFPGL',
 'B08LYRGY5C',
 'B01ANJEGH0',
 'B07BSM435W',
 'B00RESDOEU',
 'B082D965WL',
 'B07H1752GK',
 'B08H8NCN61',
 'B09921N43J',
 'B07MRNVZYY',
 'B07SBZ5G5V',
 'B073K2NQ2J',
 'B07587BYQN',
 'B06XKTWG6W',
 'B01ISKLDJK',
 'B07YWQ9ZHC',
 'B002PXW0DA',
 'B002MRSLK0',
 'B015KKRUSY',
 'B00LKY3JP8',
 'B073WY1QQQ',
 'B01KKCH1T0',
 'B077J34M7K',
 'B009HELD1U',
 'B008VLFTFQ',
 'B019XZGW7C',
 'B06XJ7JQ9H',
 'B00TIXAUAU',
 'B00H8IWIBQ',
 'B000BVAP0I',
 'B013UA4RKA',
 'B00GILOPJM',
 'B0133E1HHE',
 'B007973B1W',
 'B00JM39QZ6',
 'B01AR7XWUA',
 'B008NAW3BS',
 'B000PGS3CQ',
 'B00LGBZ8IQ',
 'B00B6EJVFE',
 'B008IDX21K',
 'B00T2TT2FY',
 'B00CF0FSEQ',
 'B00CH4G9VG',
 'B0058RKYDI',
 'B00G4KJ8YO',
 'B00UBONKWA',
 'B009XISHLE',
 'B00B4KBIZG',
 'B00WGOWUKG',
 'B00CP4KUZE',
 'B00BZXRHIY',
 'B00KTOD4BO',
 'B01B7PLD52',
 'B00M5300W8',
 'B01N0IJ5TN',
 'B00FYQDDJA',
 'B00A9IC2OA',
 'B002O6QDLI',
 'B08HY4Q4H4',
 'B00S8Q0D96',
 'B07JMR6S5H',
 'B0915LXKCH',
 'B0C6J9CQGY',
 'B0745KXRSL',
 'B08KFYJG66',
 'B0006GR3RQ',
 'B0BYSBXR5M',
 'B001ECQBPQ',
 'B003B10OTM',
 'B075878FD3',
 'B000AQFH4I',
 'B002Z68YSM',
 'B09XXKYTK1',
 'B0000952XQ',
 'B08JGVS2XX',
 'B082WVR9XW',
 'B005GP0NZQ',
 'B07MC6QZTP',
 'B000EEJ9EK',
 'B08PMZQXN3',
 'B07MS876H8',
 'B07TV9W279',
 'B07DLJ1S39',
 'B016QK00WK',
 'B008EULDNQ',
 'B0752BCV16',
 'B07BHTMCNN',
 'B01D53KNUA',
 'B096Y36S66',
 'B07BR47PMR',
 'B00BATWMC4',
 'B0002D0FWS',
 'B07YY9K831',
 'B07HM8Q5FR',
 'B005AW2VB4',
 'B013JAR18Q',
 'B0065KYMZI',
 'B087CQ5BGJ',
 'B06XQN1D93',
 'B079JWJN75',
 'B07FG9KCTM',
 'B08QR866YB',
 'B00F3UKQO2',
 'B002BWWCOW',
 'B09WRY7PCH',
 'B09DT6X74F',
 'B00AM1WVAE',
 'B088BHP1SJ',
 'B072MMBQMX',
 'B00BC3HU1G',
 'B00DVYFSRM',
 'B083JQJHYF',
 'B003Y5BGSS',
 'B0031ATVLU',
 'B087ZD4RX1',
 'B015NBUZEG',
 'B07H3NM94J',
 'B00TPAL5V4',
 'B01J33CF48',
 'B08SRDRPVK',
 'B0002I8YEE',
 'B00079Y64K',
 'B006M05XCM',
 'B08KZSQ1WQ',
 'B01AYOG6HM',
 'B07H1BZPM3',
 'B0BPPNQQB8',
 'B004QJLZ1O',
 'B001L6CSG6',
 'B08CS4H88W',
 'B074SKNPD8',
 'B000KUEZJ2',
 'B075ZZWLNJ',
 'B07HG6WYZQ',
 'B08FX36MZ9',
 'B015ZLZB84',
 'B00TDKFQ5M',
 'B07RYKHYC9',
 'B07TBY9LGT',
 'B08R9V17Q4',
 'B001GDJHUY',
 'B0179QTEMW',
 'B016RVDB1A',
 'B00GXEYM10',
 'B01HJM4JKI',
 'B07CYYS93L',
 'B00P720Z9M',
 'B06Y5GP3XX',
 'B013Z75K2W',
 'B07YBXQ517',
 'B001A2FICC',
 'B00DK21OKK',
 'B003KVJRRS',
 'B007WTA9VM',
 'B00KRKL138',
 'B01MUBRF16',
 'B003BQWE1I',
 'B08251TS5X',
 'B00BU4KE1K',
 'B01JYIIO7Y',
 'B000V8TBTM',
 'B00CQDRFH0',
 'B008R9LPU0',
 'B01M0GKIVT',
 'B074CQ7KCY',
 'B00C2B4RTK',
 'B0B8N3Y56Y',
 'B09WGRZJ8C',
 'B07GL5FGN8',
 'B0835M2FWT',
 'B01D6E3MNI',
 'B0B5Y9B5D3',
 'B081N7JWK5',
 'B082ZJSXXJ',
 'B000RHGNB6',
 'B079KZJ867',
 'B00E1ABO8C',
 'B0BBJFS1P8',
 'B09Y2HTZC5',
 'B005CSFE3I',
 'B01ASVVJ4Q',
 'B01MT92WSH',
 'B076DDTRMQ',
 'B09K365X5J',
 'B001BA99AU',
 'B001LFLSBS',
 'B00CG3TFRS',
 'B07TXM3DPM',
 'B07TTK1QH9',
 'B001EO6FXM',
 'B001T3WJ42',
 'B07JMYVCNL',
 'B0018AOOTY',
 'B079YZB5V2',
 'B09GL6PR1G',
 'B00716YKD4',
 'B010WUZRDW',
 'B08MWW1L6M',
 'B082LSZRXT',
 'B01N475J1A',
 'B0854Q6BZV',
 'B09JQFT4T1',
 'B004XRJB4M',
 'B07K7S6G4Z',
 'B077YXS3W3',
 'B003823QU8',
 'B097F394FH',
 'B00DTHVPWS',
 'B07BNDDJM5',
 'B09JCFKHZK',
 'B08GGB1X4W',
 'B096HM155R',
 'B07VR2QZGL',
 'B004T346UO',
 'B003EMXSCI',
 'B000WNJL3M',
 'B07814FKYW',
 'B09X1H2JTT',
 'B00NMO2GVW',
 'B0039B62NG',
 'B00OCNU7E0',
 'B07XGD9FHY',
 'B000RUQOD0',
 'B003FDBZCQ',
 'B009WHHZ78',
 'B084X1FLQ3',
 'B08JVGBM7P',
 'B008D4SRPU',
 'B000EPGXVQ',
 'B01H23NSCY',
 'B07584NRNZ',
 'B07RNRTL9Y',
 'B06ZYBLRYG',
 'B002HTTEHM',
 'B07WT95MC3',
 'B01MSLT3VD',
 'B01MTQFI2I',
 'B07GH5JVBK',
 'B07RH4QB59',
 'B01BLBNUS0',
 'B07F5M7NV3',
 'B09ZTYHWCL',
 'B000FFM7UQ',
 'B07KFM5HX8',
 'B004L1I2CW',
 'B00TRMA656',
 'B0042GZSMI',
 'B07BJCYKZK',
 'B075SV5G9N',
 'B07D1V213C',
 'B01ABIMTJA',
 'B0166AQQQ4',
 'B007UD76SO',
 'B00JMB7X6M',
 'B09RV11B6M',
 'B09TP26WLT',
 'B002V00UJI',
 'B0773D9711',
 'B0014GV0R6',
 'B07VTC4799',
 'B01DNDDR5U',
 'B0C6PXJGFG',
 'B00ZY7H35E',
 'B000VHFIUY',
 'B09GQ11C22',
 'B0C1MB3ZTX',
 'B0B6S55S6S',
 'B08WWSZ6W8',
 'B09CQYDNLH',
 'B08TMSTDF1',
 'B0078YAITO',
 'B0B4V4TZ51',
 'B000LQLNVS',
 'B07V4TCB3L',
 'B01MRY81WA',
 'B01JENIAKU',
 'B09FCN48GC',
 'B0BRZ1TTJP',
 'B08T4SKFLF',
 'B003F1UHLI',
 'B08PSFFBW5',
 'B015AMSFRW',
 'B07H5RSNNK',
 'B082RH3TX4',
 'B000EA2EP0',
 'B075QN4JWR',
 'B08LMPMHKV',
 'B091SDJWJR',
 'B01BUDPF00',
 'B00L07CZX2',
 'B01JZDC0XW',
 'B086GK34DN',
 'B07CJRGB3Q',
 'B07CZR5883',
 'B06XSN4N6W',
 'B07QX6TM6N',
 'B0053AVZK6',
 'B07HDQ4KSV',
 'B07WG3LVTR',
 'B005HAL62E',
 'B01FKV40GI',
 'B09ZBJSP2Z',
 'B07Z5VL8YD',
 'B09PVQ9VZK',
 'B08731PMQ4',
 'B018Y7B34M',
 'B01N5FOAWS',
 'B09FTPPJ9Y',
 'B07YZDG668',
 'B00J5BEOES',
 'B08MJ1YP3Q',
 'B000Z1GLGQ',
 'B00IZ0U7UA',
 'B001J8OVJS',
 'B01BDRYCIO',
 'B079LG4JMJ',
 'B09ZJXV3NQ',
 'B017CASOGW',
 'B09WZWFWM6',
 'B0BJ73XSCH',
 'B09KLFSN99',
 'B072RQQ3G8',
 'B09LLSPV2N',
 'B01IUY1EXE',
 'B075KLBGNR',
 'B08CSLL8NJ',
 'B00LPNEXPY',
 'B09J6V3N9H',
 'B00AZNUKRA',
 'B01B5BLH4K',
 'B008IDB488',
 'B0BJGNTSWR',
 'B0BFDYKJQX',
 'B00L3252X4',
 'B09CRJLDZP',
 'B005C4CANE',
 'B00KXCBXQU',
 'B07CHZRXKG',
 'B09K7VYG4Z',
 'B088R6M5SX',
 'B071LBM5X6',
 'B0BYNFBZGT',
 'B08C4WNBKR',
 'B083425QPZ',
 'B08YWWDPF6',
 'B01MYVFOQQ',
 'B01G1HN7VO',
 ...]

In [16]:
items

,item_id,parent_asin,title,image
0,1,B0178HXHDO,Wedding/Bridal Wildflower Seed Packet Favors(w...,https://m.media-amazon.com/images/I/31XVY4bCDB...
1,2,B07D1B8HZZ,"Boston Terrier Cupcake Toppers, set of 6 diffe...",https://m.media-amazon.com/images/I/51jmt55D8d...
2,3,B073R96J3H,8x10 UNFRAMED For Those We Have Loved and Lost...,https://m.media-amazon.com/images/I/51DxklTuIB...
3,4,B01AHH17HU,"Fluffy Black Cat Face Art Print, Big Eye Pop S...",https://m.media-amazon.com/images/I/510NUTbER+...
4,5,B07ZDNPRCJ,Aquamarine Necklace Sterling Silver 18 Inch Ch...,https://m.media-amazon.com/images/I/216sKgxDuq...
...,...,...,...,...
1602,1603,B088C12NQN,DTG Printer T-Shirt Printing Machine A4 Size D...,https://m.media-amazon.com/images/I/41D+1klykQ...
1603,1604,B078W64N1L,MonkeyJack 16 Way Balanced HD Digital 5-2400 M...,https://m.media-amazon.com/images/I/41A+sJZSfk...
1604,1605,B07ZJVX289,"Backflow Preventer Test Kit,3 Valves",https://m.media-amazon.com/images/I/41KZ+kSRUq...
1605,1606,B00CLDMEN0,LabelValue.com | Caution - Veterinary Label / ...,https://m.media-amazon.com/images/I/31QoUnFlY2...
1606,1607,B00ERGQ0J8,6 Inch LCD Digital Caliper with Extra Battery ...,https://m.media-amazon.com/images/I/41SzsdFiIF...

In [34]:
(
    duck.query(f"""
        select
            parent_asin
            , categories
            , features
            , description
            , details
        from raw_items
        where
            parent_asin in {parents}
    """)
    .to_df().merge(
        right = items[['item_id', 'parent_asin', 'title']],
        how = 'left',
        on = ['parent_asin']
    )
    .drop(labels = ['parent_asin'], axis=1)
    .assign(
        full_description = lambda d_: d_[['title', 'categories', 'features', 'description', 'details']].fillna('').agg('||'.join, axis=1)
    )
    .to_parquet(
        Path('data/items_descriptions.parquet'),
        engine = 'pyarrow',
        compression = 'snappy'
    )
)

In [35]:
df = pd.read_parquet(
    Path('data/items_descriptions.parquet')
)

In [36]:
df#['item_id'].values.tolist()

,categories,features,description,details,item_id,title,full_description
0,Scrapbooking & Stamping;Stamps & Ink Pads;Stam...,None,None,Package Dimensions:8 x 6 x 1 inches;Best Selle...,1096,"Tim Holtz Cling Rubber Stamp Set, 7"" by 8.5"", ...","Tim Holtz Cling Rubber Stamp Set, 7"" by 8.5"", ..."
1,Beading & Jewelry Making;Jewelry Casting Suppl...,Resin jewelry casting supply pack of 158 Kits....,None,"Brand:FUNSHOWCASE;Color:Bronze,Clear,Green,Pin...",1097,FUNSHOWCASE UV Resin Jewelry Making Supplies 1...,FUNSHOWCASE UV Resin Jewelry Making Supplies 1...
2,Sewing;Sewing Notions & Supplies;Hand Sewing N...,BEADING BOWL SPINNER KIT: This bracelet making...,This large wooden bead spinner kit from The In...,Brand:INDIVSHOW;Age Range (Description):Kid;Th...,1098,"INDIVSHOW The 4.33"" Large Wooden Bead Bowl Spi...","INDIVSHOW The 4.33"" Large Wooden Bead Bowl Spi..."
3,Sewing;Sewing Machine Parts & Accessories;Atta...,Size: 1.6'' x 3'' x 0.4'' inches;Speeds up you...,Excellent solution for ensuring uniform seam w...,Product Dimensions:3 x 1.6 x 0.4 inches;Item m...,1099,Large Presser Magnetic Seam Guide for Domestic...,Large Presser Magnetic Seam Guide for Domestic...
4,Sewing;Sewing Notions & Supplies;Fasteners;Buc...,None,None,Manufacturer:Zinc;Brand:Zinc;Item Weight:4.8 o...,1100,"Zinc Door Opener, a Multifunctional Hand Tool ...","Zinc Door Opener, a Multifunctional Hand Tool ..."
...,...,...,...,...,...,...,...
1602,None,Easy to use;Practical;Cost-competitive,Cafe Racer is a bimonthly magazine aimed at th...,Release Date:2013;Date first listed on Amazon:...,709,Cafe Racer(Kindle Tablet Edition),Cafe Racer(Kindle Tablet Edition)||||Easy to u...
1603,Business & Office;Training,None,None,"Date First Available:June 17, 2014;Manufacture...",710,ENGINEERING DRAWING GD&T TUTORIAL 6+HRS TRAINI...,ENGINEERING DRAWING GD&T TUTORIAL 6+HRS TRAINI...
1604,Education & Reference;Languages,None,None,Package Dimensions:7.6 x 5.4 x 0.6 inches; 1 P...,711,Premium Edition Italian Language Tutor Softwar...,Premium Edition Italian Language Tutor Softwar...
1605,None,None,None,"Date First Available:September 16, 2020;Manufa...",712,"Daycare Management Software Professional; 100,...","Daycare Management Software Professional; 100,..."
1606,Music;MP3 Editing & Effects;Sound Libraries,Learn To Program With Swift from a professiona...,Number of Videos:;3 hours - 49 lessons;Author:...,"Date First Available:April 14, 2015",713,Learning To Program With Swift [Online Code],Learning To Program With Swift [Online Code]||...

In [2]:
import etl
import user_based

In [3]:
selected_date = '2019-12-31'

In [4]:
users = etl.get_users(selected_date)

In [6]:
len(users)

9893

In [8]:
for i, u in enumerate(users):
    print(f"checking for user - {u}, index - {i}")
    r = user_based.recommend(u, selected_date)
    if len(r)>0:
        print("bingo")
        break

checking for user - 3089, index - 0
checking for user - 3090, index - 1
checking for user - 3091, index - 2
checking for user - 3092, index - 3
checking for user - 3093, index - 4
checking for user - 3094, index - 5
checking for user - 3095, index - 6
checking for user - 3098, index - 7
checking for user - 3099, index - 8
checking for user - 3102, index - 9
checking for user - 3103, index - 10
checking for user - 3105, index - 11
checking for user - 3111, index - 12
checking for user - 3113, index - 13
checking for user - 3114, index - 14
checking for user - 3115, index - 15
checking for user - 3116, index - 16
checking for user - 3117, index - 17
checking for user - 3120, index - 18
checking for user - 3121, index - 19
checking for user - 3122, index - 20
checking for user - 3123, index - 21
checking for user - 3127, index - 22
checking for user - 3129, index - 23
checking for user - 3131, index - 24
checking for user - 3133, index - 25
checking for user - 3140, index - 26
checking for user - 3142, index - 27
checking for user - 3146, index - 28
checking for user - 3147, index - 29
checking for user - 3148, index - 30
checking for user - 3149, index - 31
checking for user - 3151, index - 32
checking for user - 3152, index - 33
checking for user - 3153, index - 34
checking for user - 3157, index - 35
checking for user - 3158, index - 36
checking for user - 3159, index - 37
checking for user - 3160, index - 38
checking for user - 3162, index - 39
checking for user - 3163, index - 40
checking for user - 3164, index - 41
checking for user - 3165, index - 42
checking for user - 3166, index - 43
checking for user - 3168, index - 44
checking for user - 3169, index - 45
checking for user - 3174, index - 46
checking for user - 3175, index - 47
checking for user - 3176, index - 48
checking for user - 3177, index - 49
checking for user - 3179, index - 50
checking for user - 3180, index - 51
checking for user - 3181, index - 52
checking for user - 3182, index - 53
checking for user - 3183, index - 54
checking for user - 3184, index - 55
checking for user - 3185, index - 56
checking for user - 3186, index - 57
checking for user - 3187, index - 58
bingo

In [9]:
b = user_based.recommend(3187, selected_date)

In [11]:
b.value_counts()

5.0    10872
Name: count, dtype: int64

In [35]:
def refactorize(df):
    u, sigma, vt = np.linalg.svd(df.values, full_matrices=False)
    sigma_diag = np.diag(sigma)

    u_sigma = np.dot(u, sigma_diag)
    u_sigma_vt = np.dot(u_sigma, vt)

    recalculated_df = pd.DataFrame(
        data = u_sigma_vt,
        index = df.index,
        columns =  df.columns
    )

    return recalculated_df

In [12]:
ratings_df = user_based.create_ratings_matrice(selected_date)

avg_ratings = ratings_df.mean(axis = 1)

ratings_centered_df = user_based.center_ratings(ratings_df, avg_ratings)

In [15]:
ratings_centered_df

item_id,1,2,3,4,7,8,9,12,13,14,...,1586,1587,1589,1595,1596,1598,1599,1601,1602,1607
user_id,,,,,,,,,,,,,,,,,,,,,
3089,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3090,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3091,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3092,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3093,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21464,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
21465,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
21466,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
21472,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
21477,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [24]:
ratings_centered_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 9893 entries, 3089 to 21477
Columns: 981 entries, 1 to 1607
dtypes: float64(981)
memory usage: 74.1 MB

In [26]:
ratings_centered_df.dtypes.value_counts()

float64    981
Name: count, dtype: int64

In [36]:
refactorize(ratings_centered_df)

item_id,1,2,3,4,7,8,9,12,13,14,...,1586,1587,1589,1595,1596,1598,1599,1601,1602,1607
user_id,,,,,,,,,,,,,,,,,,,,,
3089,1.998401e-16,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3090,0.000000e+00,1.998401e-16,0.000000e+00,0.000000e+00,0.000000e+00,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3091,0.000000e+00,0.000000e+00,1.998401e-16,0.000000e+00,0.000000e+00,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3092,0.000000e+00,0.000000e+00,0.000000e+00,1.998401e-16,0.000000e+00,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3093,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.998401e-16,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21464,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
21465,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
21466,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
21472,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
21477,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [37]:
ratings_centered_df

item_id,1,2,3,4,7,8,9,12,13,14,...,1586,1587,1589,1595,1596,1598,1599,1601,1602,1607
user_id,,,,,,,,,,,,,,,,,,,,,
3089,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3090,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3091,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3092,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3093,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21464,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
21465,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
21466,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
21472,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
21477,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

## Создаём таблицу продуктов

In [ ]:
mfiles = list(meta_files)[1:]+[list(meta_files)[0]]
mfiles

## Создаём выборку продуктов

In [19]:
products_sample = (
    duck.query(f"""
        select
            main_category
            , title
            , parent_asin
        from parquet_scan({[str(x) for x in mfiles]}, hive_partitioning=True)
    """).to_df()
    .groupby(['main_category'], as_index=False).sample(frac=.2)
)

In [ ]:
products_sample.query("parent_asin.duplicated(keep=False)")

In [ ]:
products_sample

### Создаём таблицу items

In [22]:
duck.query("""
    create table items(
        item_id bigint
        , parent_asin varchar
        , title varchar
        , image varchar
        , primary key (item_id)
    )
""")

In [23]:
duck.query(f"""
    create sequence if not exists seq_1;
    insert into items
    with
    meta as (
        select
           parent_asin
           , title
           , images
        from parquet_scan({[str(x) for x in mfiles]}, hive_partitioning=True)
        where
            parent_asin in (select parent_asin from products_sample)
    )
    select
        nextval('seq_1') as item_id
        , parent_asin
        , m.title
        , m.images as image
    from meta m
""")

In [ ]:
duck.query("""
    select * from items
""")

In [ ]:
duck.query("select count(parent_asin), count(distinct parent_asin) from items")

### Создаём таблицу stores

In [26]:
duck.query("""
    create table stores(
        store_id bigint
        , store varchar
        , primary key (store_id)
    )
""")

In [27]:
duck.query(f"""
    create sequence if not exists seq_1;
    insert into stores
    with
    store_list as (
        select distinct store
        from parquet_scan({[str(x) for x in mfiles]}, hive_partitioning=True) 
        where
            parent_asin in (select parent_asin from products_sample)
    )
    select
        nextval('seq_1') as store_id
        , store
    from store_list
""")

In [ ]:
duck.query("select count(store), count(distinct store) from stores")

### Создаём таблицу categories

In [29]:
duck.query("""
    create table categories(
        category_id bigint
        , category varchar
        , primary key (category_id)
    )
""")

In [30]:
duck.query(f"""
    create sequence if not exists seq_1;
    insert into categories
    with
    category_list as (
        select distinct main_category as category
        from parquet_scan({[str(x) for x in mfiles]}, hive_partitioning=True) 
        where
            parent_asin in (select parent_asin from products_sample)
    )
    select
        nextval('seq_1') as category_id
        , category
    from category_list
""")

In [ ]:
duck.query("select count(category), count(distinct category) from categories")

### Создаём таблицу items_info

In [32]:
duck.query("""
    create table if not exists items_info(
        item_id bigint
        , category_id bigint
        , store_id bigint
        , price double
        , has_image bigint
        , has_video bigint
        , foreign key (item_id) references items(item_id)
--        , foreign key (category_id) references categories(category_id)
--        , foreign key (store_id) references stores(store_id)
    )
""")

In [33]:
info = duck.query(f"""
    with
    meta as (
        select
           parent_asin
           , main_category as category
           , store
           , price
           , has_image
           , videos as has_video
        from parquet_scan({[str(x) for x in mfiles]}, hive_partitioning=True)
        where
            parent_asin in (select parent_asin from products_sample)
    )
    select
        i.item_id
        , c.category_id
        , s.store_id
        , m.price
        , m.has_image
        , m.has_video
    from meta m
        left join items i on i.parent_asin = m.parent_asin
        left join categories c on c.category = m.category
        left join stores s on s.store = m.store 
""").pl()

In [ ]:
info.estimated_size("mb")

In [35]:
duck.query("""
    insert into items_info
    select *
    from info
""")

### Создаём матрицу наиболее часто встречающихся слов в текстовых метаданных

In [12]:
duck.query(f"""
    create table meta as
    select 
        i.item_id
        , t.categories
        , t.features
        , t.description
        , t.details 
    from parquet_scan({[str(x) for x in mfiles]}, hive_partitioning=True) t
        inner join items i on t.parent_asin=i.parent_asin
""")

In [36]:
vectorizer = TfidfVectorizer(min_df=.1, max_df=.8)

In [37]:
meta = duck.query(f"""
    select 
        i.item_id
        , concat_ws(';', t.categories, t.features, t.description, t.details) as txt 
    from parquet_scan({[str(x) for x in mfiles]}, hive_partitioning=True) t
        inner join items i on t.parent_asin=i.parent_asin
""").pl()

In [ ]:
meta.estimated_size('mb')

In [39]:
vectorized_data = vectorizer.fit_transform(
    meta.to_pandas()['txt'].fillna('')
)

In [40]:
tfidf_df=pd.DataFrame(
    vectorized_data.toarray(),
    columns = vectorizer.get_feature_names_out(),
    index = meta.select('item_id').to_series().to_numpy()
).reset_index(names='item_id')

In [41]:
del vectorized_data
del meta

In [42]:
duck.query("""
    create table tfidf as
    select *
    from tfidf_df
""")

## Создаём таблицу users

In [43]:
duck.query("""
    create table if not exists users(
        user_id bigint
        , user varchar
        , primary key (user_id)
    )
""")

In [ ]:
duck.query(f"""
    create sequence if not exists seq_1;
    insert into users
    with
    u as (
        select distinct
           user_id as user
        from parquet_scan({[str(x) for x in review_files]}, hive_partitioning=True)
        where
            parent_asin in (select parent_asin from products_sample)
    )
    select
        nextval('seq_1') as user_id
        , user
    from u
""")

In [ ]:
duck.query("select count(user), count(distinct user) from users")

### Создание таблицы reviews

In [46]:
duck.query("""
    create table if not exists reviews (
        user_id bigint
        , item_id bigint
        , review_timestamp timestamp
        , rating double
        , helpful_vote bigint
        , verified_purchase boolean
        , foreign key (user_id) references users(user_id)
        --, foreign key (item_id) references items(item_id)
    )
""")

In [ ]:
reviews_df = duck.query(f"""
    with
    r as (
        select
            user_id as user
            , parent_asin
            , epoch_ms(timestamp) as review_timestamp
            , rating
            , helpful_vote
            , verified_purchase
        from parquet_scan({[str(x) for x in review_files]}, hive_partitioning=True)
        where
            parent_asin in (select parent_asin from products_sample)
    )
    select
        u.user_id
        , i.item_id
        , review_timestamp
        , rating
        , helpful_vote
        , verified_purchase
    from r
        left join users u on r.user=u.user
        left join items i on r.parent_asin=i.parent_asin
""").pl()

In [ ]:
reviews_df.estimated_size("mb")

In [ ]:
duck.query(f"""
    insert into reviews
    select
        user_id
        , item_id
        , review_timestamp
        , rating
        , helpful_vote
        , verified_purchase
    from reviews_df
""")

In [ ]:
duck.query("select * from reviews")

In [ ]:
duck.query("show tables")

In [ ]:
duck.query("select * from users")

In [13]:
duck.close()